<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Bookings</title>
           
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


</head>
<body>
    <br>
    <a href="/">Home Page</a>

    <div class="container">
        {{message}}

        <section class="row">
            {% for row in data    %}
            <!-- lets assume we have one row -->
            <!-- we can then access the columns in that row -->
            <!-- we access columns using row[column number] -->
            <div class="col-md-4"> 
                <div class="card">
                    <div class="card-body" style="background-color: cadetblue;">
                        <h5>Booking ID: {{ row[0] }}</h5>
                        <b>From {{ row[1] }} </b><br>
                        <b>To {{ row[2] }} </b><br>
                        <i>Travel Date {{ row[3] }} </i><br>
                        <i>Travel Time {{ row[4]}} </i><br>
                        <h4>KES {{ row[5] }} </h4>


                    </div>
                  
           

                </div>

           

            </div>
            
   
   
   
            {% endfor %}
   

        </section>
        
        
    </div>
    
</body>
</html>